<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Login System in Node.js Express</title>
</head>

<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <% if(session.user_id) { %>

                    <h1>Hi User, Welcome</h1>

                    <a href="/logout" class="btn btn-primary">Logout</a>
                
                    <% } else { %>

                        <div class="card">
                            <div class="card-header">Login</div>
                            <div class="card-body">
                                <form method="post" action="/login">
                                    <div class="mb-3">
                                        <label>ID</label>
                                        <input type="text" name="user_name" class="form-control" />
                                    </div>
                                    <div class="mb-3">
                                        <label>Password</label>
                                        <input type="password" name="user_password" class="form-control" />
                                    </div>
                                    <div class="mb-3">
                                        <input type="submit" class="btn btn-primary" value="Login" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <% } %>
                        <% if(session.user_id) { %>
                            <% if(session.user_id && session.user_id !=1) { %>
                               
                             
                                        <form method="post" action="/savedat">
                                            <div class="mb-3">
                                                <label>order_date</label>
                                                <input type="date" name="order_date" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>company</label>
                                                <input type="text" name="company" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>owner</label>
                                                <input type="text" name="owner" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>item</label>
                                                <input type="text" name="item" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>Quantity</label>
                                                <input type="number" name="qty" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>weight</label>
                                                <input type="number" step="0.001" name="weight"
                                                    class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>Request from shipment</label>
                                                <input type="text" name="req_for_ship" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>Tracking ID</label>
                                                <input type="text" name="trackingid" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>Shipment size</label>
                                                <input type="number" name="ship_size_len" placeholder="length" class="form-control" required/>
                                                <br />
                                                <input type="number" name="ship_size_breath" placeholder="breath" class="form-control" required/>
                                                <br />
                                                <input type="number" name="ship_size_height" placeholder="height" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>Box Count</label>
                                                <input type="number" name="box_count" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>Specification</label>
                                                <input type="text" name="specification" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <label>Checklist Quantity</label>
                                                <input type="text" name="check_qty" class="form-control" required/>
                                            </div>

                                            <div class="mb-3">
                                                <input type="submit" class="btn btn-primary" value="Save" />
                                            </div>
                                        </form>
                                


                                <% } if(session.user_id == 1) { %>

                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Item/Customer</th>
                                            <th scope="col">Customer1</th>
                                            <th scope="col">Customer2</th>
                                            <th scope="col">Total</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">Quantity</th>
                                            <td><%= cust_1_total_qty %></td>
                                            <td><%= cust_2_total_qty %></td>
                                            <td><%= total_qty %></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Weight</th>
                                            <td><%= cust_1_total_w %></td>
                                            <td><%= cust_2_total_w %></td>
                                            <td><%= total_w %></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Box Count</th>
                                            <td><%= cust_1_total_box %></td>
                                            <td><%= cust_2_total_box %></td>
                                            <td><%= total_box %></td>
                                            
                                          </tr>
                                        </tbody>
                                      </table>


                                    <% } %>

                                    <% } %>


            </div>
        </div>
    </div>
</body>

</html>